body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #000;
    padding: 12px 30px;
}

.header-inner {
    display: flex;
    align-items: center;
}

header img {
    height: 28px;
}

header input {
    margin: 0 auto;
    width: 300px;
    padding: 6px 12px;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a,
header nav button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

header nav button:last-child {
    background: white;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
}

.detail-container {
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    gap: 60px;
}

.detail-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    background: #ccc;
}

.detail-info {
    flex: 1;
}

.detail-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.brand {
    color: #666;
    margin-bottom: 20px;
}

.price {
    font-size: 26px;
    margin-bottom: 20px;
}

.price span {
    font-size: 14px;
}

.buy-button {
  display: inline-block;
  text-align: center;
  background: #ff4b4b;
  color: #fff;
  padding: 12px 0;
  width: 100%;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}

.buy-button:hover {
    opacity: 0.85;
}

.detail-info h2 {
    margin-top: 30px;
    font-size: 18px;
}

.category-tag {
    display: inline-block;
    background-color: #ff5e5e;
    color: white;
    padding: 4px 10px;
    border-radius: 15px;
    margin-right: 6px;
    font-size: 12px;
}

.comment-form textarea{
  width:100%;
  height:120px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
  box-sizing:border-box;
  margin-top:10px;
}

.comment-form button{
  width:100%;
  margin-top:12px;
  background:#ff5e5e;
  color:#fff;
  border:none;
  padding:12px;
  border-radius:6px;
  cursor:pointer;
}

.comment-item{
  background:#fff;
  padding:12px;
  border-radius:6px;
  margin:12px 0;
}

.comment-user{
  font-weight:bold;
  margin-bottom:6px;
}

.comment-content{
  font-size:14px;
  color:#333;
}

.comment-login-guide a{
  color:#ff5e5e;
  font-weight:bold;
  text-decoration:none;
}

.error-box{
  background:#ffecec;
  border:1px solid #ffb3b3;
  padding:10px;
  border-radius:6px;
  margin-top:10px;
}
.error-box ul{
  margin:0;
  padding-left:18px;
}

.icon-area{
    display:flex;
    align-items:center;
    gap:18px;
    margin:12px 0 18px;
}

.icon-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:6px;
}

.icon-button{
    background:none;
    border:none;
    padding:0;
    cursor:pointer;
}

.icon-img{
    width:28px;
    height:28px;
    display:block;
}

.icon-count{
    font-size:14px;
    margin:0;
    color:#333;
}