body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 100px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
}

button {
    padding: 10px 30px;
    background-color: #ddd;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}
